USE [SWP_Project]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[BlogTitle] [varchar](255) NULL,
	[BlogImage] [varchar](255) NULL,
	[BlogDetail] [text] NULL,
	[BlogDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[AddDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[CartDetailId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NULL,
	[AddDate] [datetime] NULL,
	[AddTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartDetailId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[CusBirthDate] [date] NULL,
	[CusGender] [varchar](10) NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](255) NULL,
	[Status] [varchar](50) NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddress]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddress](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[Address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](100) NOT NULL,
	[EmpBirthDate] [date] NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[EmpGender] [varchar](10) NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[CustomerId] [int] NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[Date] [datetime] NULL,
	[Message] [nvarchar](max) NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK__Order__C3905BCF2CB1CA27] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](500) NULL,
	[CategoryId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Discontinued] [bit] NOT NULL,
 CONSTRAINT [PK__Product__B40CC6CDE97F1666] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[ShippingId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ShippingAddress] [text] NULL,
	[ShippingStatus] [varchar](50) NULL,
	[ShippingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 2/18/2025 8:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[SlideId] [int] IDENTITY(1,1) NOT NULL,
	[SlideImg] [varchar](255) NULL,
	[SlideTitle] [varchar](255) NULL,
	[SlideDetail] [text] NULL,
	[SlideDate] [datetime] NULL,
	[EmployeeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SlideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogId], [EmployeeId], [BlogTitle], [BlogImage], [BlogDetail], [BlogDate]) VALUES (1, 1, N'Blog Post 1', N'image1.jpg', N'This is the first blog post detail.', CAST(N'2025-02-17T21:44:37.133' AS DateTime))
INSERT [dbo].[Blog] ([BlogId], [EmployeeId], [BlogTitle], [BlogImage], [BlogDetail], [BlogDate]) VALUES (2, 2, N'Blog Post 2', N'image2.jpg', N'This is the second blog post detail.', CAST(N'2025-02-17T21:44:37.133' AS DateTime))
INSERT [dbo].[Blog] ([BlogId], [EmployeeId], [BlogTitle], [BlogImage], [BlogDetail], [BlogDate]) VALUES (3, 3, N'Blog Post 3', N'image3.jpg', N'This is the third blog post detail.', CAST(N'2025-02-17T21:44:37.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [CustomerId], [TotalPrice], [AddDate]) VALUES (1, 1, CAST(100.50 AS Decimal(10, 2)), CAST(N'2025-02-17T22:02:17.573' AS DateTime))
INSERT [dbo].[Cart] ([CartId], [CustomerId], [TotalPrice], [AddDate]) VALUES (2, 2, CAST(250.75 AS Decimal(10, 2)), CAST(N'2025-02-17T22:02:17.573' AS DateTime))
INSERT [dbo].[Cart] ([CartId], [CustomerId], [TotalPrice], [AddDate]) VALUES (3, 3, CAST(300.00 AS Decimal(10, 2)), CAST(N'2025-02-17T22:02:17.573' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
INSERT [dbo].[CartDetail] ([CartDetailId], [ProductId], [Quantity], [Price], [AddDate], [AddTime]) VALUES (1, 1, 2, CAST(100.50 AS Decimal(10, 2)), CAST(N'2025-02-17T22:05:55.923' AS DateTime), CAST(N'2025-02-17T22:05:55.923' AS DateTime))
INSERT [dbo].[CartDetail] ([CartDetailId], [ProductId], [Quantity], [Price], [AddDate], [AddTime]) VALUES (1, 2, 1, CAST(250.75 AS Decimal(10, 2)), CAST(N'2025-02-17T22:05:55.923' AS DateTime), CAST(N'2025-02-17T22:05:55.923' AS DateTime))
INSERT [dbo].[CartDetail] ([CartDetailId], [ProductId], [Quantity], [Price], [AddDate], [AddTime]) VALUES (2, 3, 3, CAST(300.00 AS Decimal(10, 2)), CAST(N'2025-02-17T22:05:55.923' AS DateTime), CAST(N'2025-02-17T22:05:55.923' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Bóng đá')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Cầu lông')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Bóng bàn')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CusBirthDate], [CusGender], [Phone], [Email], [Username], [Password], [Status], [RoleId]) VALUES (1, N'Sophia', CAST(N'1985-05-15' AS Date), N'Female', N'123-456-7890', N'sophia@email.com', N'sophia123', N'password123', N'Active', 3)
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CusBirthDate], [CusGender], [Phone], [Email], [Username], [Password], [Status], [RoleId]) VALUES (2, N'James', CAST(N'1990-03-25' AS Date), N'Male', N'123-555-7891', N'james@email.com', N'james123', N'password123', N'Active', 3)
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CusBirthDate], [CusGender], [Phone], [Email], [Username], [Password], [Status], [RoleId]) VALUES (3, N'Liam', CAST(N'1988-07-11' AS Date), N'Male', N'123-666-7892', N'liam@email.com', N'liam123', N'password123', N'Active', 3)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerAddress] ON 

INSERT [dbo].[CustomerAddress] ([AddressId], [CustomerId], [Address]) VALUES (1, 1, N'123 Main Street')
INSERT [dbo].[CustomerAddress] ([AddressId], [CustomerId], [Address]) VALUES (2, 2, N'456 Oak Avenue')
INSERT [dbo].[CustomerAddress] ([AddressId], [CustomerId], [Address]) VALUES (3, 3, N'789 Pine Road')
SET IDENTITY_INSERT [dbo].[CustomerAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [EmployeeName], [EmpBirthDate], [PhoneNumber], [Email], [EmpGender], [RoleId]) VALUES (1, N'Alice', CAST(N'1985-05-15' AS Date), N'123-456-7890', N'alice@email.com', N'Female', 1)
INSERT [dbo].[Employees] ([EmployeeId], [EmployeeName], [EmpBirthDate], [PhoneNumber], [Email], [EmpGender], [RoleId]) VALUES (2, N'Bob', CAST(N'1990-03-25' AS Date), N'123-555-7891', N'bob@email.com', N'Male', 2)
INSERT [dbo].[Employees] ([EmployeeId], [EmployeeName], [EmpBirthDate], [PhoneNumber], [Email], [EmpGender], [RoleId]) VALUES (3, N'Charlie', CAST(N'1988-07-11' AS Date), N'123-666-7892', N'charlie@email.com', N'Male', 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackId], [ProductId], [CustomerId], [Description]) VALUES (1, 1, 1, N'Excellent product, very satisfied with the quality!')
INSERT [dbo].[Feedback] ([FeedbackId], [ProductId], [CustomerId], [Description]) VALUES (2, 2, 2, N'Good value for the price, would recommend it to others.')
INSERT [dbo].[Feedback] ([FeedbackId], [ProductId], [CustomerId], [Description]) VALUES (3, 3, 3, N'Not as expected, the product quality is lower than anticipated.')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [CustomerId], [TotalPrice], [Date], [Message], [EmployeeId]) VALUES (1, 1, CAST(550000 AS Decimal(18, 0)), CAST(N'2025-02-12T00:00:00.000' AS DateTime), N'Order for Nike Shoes', 2)
INSERT [dbo].[Order] ([OrderId], [CustomerId], [TotalPrice], [Date], [Message], [EmployeeId]) VALUES (2, 3, CAST(2900000 AS Decimal(18, 0)), CAST(N'2025-02-12T00:00:00.000' AS DateTime), N'Order for Puma Shoes', 1)
INSERT [dbo].[Order] ([OrderId], [CustomerId], [TotalPrice], [Date], [Message], [EmployeeId]) VALUES (3, 4, CAST(2000000 AS Decimal(18, 0)), CAST(N'2025-02-13T00:00:00.000' AS DateTime), N'Order for Mizuno Shoes', 2)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([OrderId], [ProductId], [Quantity], [Price]) VALUES (1, 1, 2, CAST(3200000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([OrderId], [ProductId], [Quantity], [Price]) VALUES (2, 3, 1, CAST(2900000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([OrderId], [ProductId], [Quantity], [Price]) VALUES (3, 4, 3, CAST(3000000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductName], [CategoryId], [Price], [Quantity], [Description], [Discontinued]) VALUES (1, N'Giày Nike Mercurial Vapor 15', 2, CAST(3200000 AS Decimal(18, 0)), 50, N'Giày đá bóng cao cấp của Nike, thiết kế cho tốc độ tối đa.', 0)
INSERT [dbo].[Product] ([ProductId], [ProductName], [CategoryId], [Price], [Quantity], [Description], [Discontinued]) VALUES (2, N'Giày Adidas Predator Freak', 1, CAST(3100000 AS Decimal(18, 0)), 45, N'Dòng giày kiểm soát bóng tối ưu của Adidas, hỗ trợ sút xoáy.', 0)
INSERT [dbo].[Product] ([ProductId], [ProductName], [CategoryId], [Price], [Quantity], [Description], [Discontinued]) VALUES (3, N'Giày Puma Future Z 1.2', 1, CAST(2900000 AS Decimal(18, 0)), 40, N'Giày đá bóng linh hoạt với công nghệ FUZIONFIT+ của Puma.', 1)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetail] ON 

INSERT [dbo].[ProductDetail] ([DetailId], [ProductId], [Color], [Size]) VALUES (1, 1, N'Đen', N'39')
INSERT [dbo].[ProductDetail] ([DetailId], [ProductId], [Color], [Size]) VALUES (2, 1, N'Vàng', N'39')
INSERT [dbo].[ProductDetail] ([DetailId], [ProductId], [Color], [Size]) VALUES (3, 1, N'Trắng', N'39')
GO
SET IDENTITY_INSERT [dbo].[ProductDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Staff')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([ShippingId], [OrderId], [ShippingAddress], [ShippingStatus], [ShippingDate]) VALUES (1, 1, N'123 Main Street, Hanoi', N'Pending', CAST(N'2025-02-17T21:13:02.537' AS DateTime))
INSERT [dbo].[Shipping] ([ShippingId], [OrderId], [ShippingAddress], [ShippingStatus], [ShippingDate]) VALUES (2, 2, N'456 Oak Avenue, Ho Chi Minh City', N'Shipped', CAST(N'2025-02-17T21:13:02.537' AS DateTime))
INSERT [dbo].[Shipping] ([ShippingId], [OrderId], [ShippingAddress], [ShippingStatus], [ShippingDate]) VALUES (3, 3, N'789 Pine Road, Da Nang', N'Pending', CAST(N'2025-02-17T21:13:02.537' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([SlideId], [SlideImg], [SlideTitle], [SlideDetail], [SlideDate], [EmployeeId]) VALUES (1, N'slide1.jpg', N'Slide Title 1', N'This is the first slide detail.', CAST(N'2025-02-17T21:48:07.410' AS DateTime), 1)
INSERT [dbo].[Slide] ([SlideId], [SlideImg], [SlideTitle], [SlideDetail], [SlideDate], [EmployeeId]) VALUES (2, N'slide2.jpg', N'Slide Title 2', N'This is the second slide detail.', CAST(N'2025-02-17T21:48:07.410' AS DateTime), 2)
INSERT [dbo].[Slide] ([SlideId], [SlideImg], [SlideTitle], [SlideDetail], [SlideDate], [EmployeeId]) VALUES (3, N'slide3.jpg', N'Slide Title 3', N'This is the third slide detail.', CAST(N'2025-02-17T21:48:07.410' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [BlogDate]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[CartDetail] ADD  DEFAULT (getdate()) FOR [AddDate]
GO
ALTER TABLE [dbo].[CartDetail] ADD  DEFAULT (getdate()) FOR [AddTime]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__Date__74AE54BC]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [Discontinued]
GO
ALTER TABLE [dbo].[Shipping] ADD  DEFAULT (getdate()) FOR [ShippingDate]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT (getdate()) FOR [SlideDate]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD FOREIGN KEY([CartDetailId])
REFERENCES [dbo].[Cart] ([CartId])
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD FOREIGN KEY([CartDetailId])
REFERENCES [dbo].[Cart] ([CartId])
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK__CartDetai__Produ__71D1E811] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK__CartDetai__Produ__71D1E811]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Role]
GO
ALTER TABLE [dbo].[CustomerAddress]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__Produc__05D8E0BE] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__Produc__05D8E0BE]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__CustomerI__75A278F5] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__CustomerI__75A278F5]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employees]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__787EE5A0] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Order__787EE5A0]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Produ__797309D9] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Produ__797309D9]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Category_Product] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Category_Product]
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [FK__ProductDe__Produ__37703C52] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [FK__ProductDe__Produ__37703C52]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK__Shipping__OrderI__02FC7413] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK__Shipping__OrderI__02FC7413]
GO
ALTER TABLE [dbo].[Slide]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Slide]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
